@font-face {
    font-family: "Grifter";
    src: url("/Grifter_bold.woff") format("woff");
}
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Grifter", sans-serif;
    color: #0D3332;
}

.page-signal-code {
    min-height: 100vh;
    background: url('bg.jpeg') no-repeat center / cover;
    padding: 60px 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.headline {
    padding-top: 60px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    line-height: 104px;
    letter-spacing: 0.02em;
}

.text-signal {
    padding-top: 76px;
    text-align: center;
    font-size: 24px;
}

.inputs {
    width: 100%;
    display: flex;
}
.form-code {
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
    max-width: 300px;
    width: 100%;
}
.inputs input {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    color: #0D3332;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.4);
    font-size: 24px;
    letter-spacing: 0.06em;
    font-weight: bold;
    text-align: center;
}
.inputs input:last-child{
    margin-right: 0;
}

.error_msg {
    left: 0;
    top: calc(100% + 10px);
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #D62D30;
}

.form-receive {
    padding-top: 85px;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
}
.text-form {
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}

.form-receive input {
    font-weight: bold;
    font-size: 24px;
    font-family: "Grifter", sans-serif;
    line-height: 25px;
    letter-spacing: 0.06em;
    color: #788D8D;
    width: 100%;
    padding: 19px 20px 14px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.4);
}

.form-receive button {
    margin-top: 30px;
    width: 100%;
    line-height: 25px;
    background: #FFF;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.06em;
    padding: 17px 0 10px;
    border: 4px solid #fff;
    color: #000;
}

.button:hover {
    border-color: #2EBBB7;
}

.button:focus {
    background-color: #2EBBB7;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.relative {
    position: relative;
}
@media only screen and (max-height: 900px) and (min-width: 1200px){
    .page-signal-code {
        padding: 6.67vh 0;
    }
    .headline {
        padding-top: 6.67vh;    
        font-size: 11.11vh;
        line-height: 11.55vh;
    }
    .text-signal {
        padding-top: 8.44vh;
    }
    .logo {
        height: 11.67vh;
    }

}
@media only screen and (max-width: 1136px) {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .page-signal-code {
        background-image: url('bg_p.jpeg');
    }
    .headline {
        padding-top: 100px;
        font-size: 7em;
    }
    .text-signal {
        padding-top: 100px;
        font-size: 3em;
    }
    .form-code {
        max-width: 28em;
        padding-top: 5em;
    }
    
    .inputs input {
        width: 4em;
        height: 4em;
        font-size: 2 em;
    }
    .text-form {
        font-size: 1.75em;
    }
    .form-receive {
        padding-top: 100px;
        max-width: 80%;

    }
    .form-receive input {
        padding: 0.3em 1em 0.2em;
        font-size: 2em;
        line-height: 2em;
    }
    .form-receive button {
        margin-top: 2em;
        height: 3.5em;
        font-size: 2em;
    }
}